

     
<table>
  <tbody>
      <%= form_with model: [@room, @message], html: {class: "form"}, local: false do |f|%>
    <tr>
         <div class="message-form-group">
           <%= f.text_area :content, class: 'form-control', size: "20x7",
           placeholder: 'メッセージを入力してください' %>
         </div>   
         <div class="message-form-group">
           <%= f.file_field :message_image, accept: "image/*" %>
         </div>
         <div class="message-form-group"> 
          <%= f.submit '送信', class: 'form-submit' %>
         </div>
      <% end %>
    </tr>
  </tbody>
</table>      

<script type="text/javascript">
const scrollAuto = $('.messages');
scrollAuto.animate({scrollTop: ($scrollAuto[0].scrollHeight + 1000)}, 'fast')
</script>



