<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= link_to message.user.name, user_path(message.user.id) %>
    </div>
    <div class="message-date">
　　　<%= message.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content%>
    </div>
  </div>    
  <div class="message-image">
     <% if message.message_image.attached? %>
       <%= image_tag message.get_message_image(150,150) %>
     <% end %>
  </div>
　　<hr>
</div>

