// Place all the styles related to the public/communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

main {

}

.row {
    padding: 10px;
}

.flex-container {
    display: flex;
}

.image-wrap{
    margin: 10px 5px;
}

.image-wrap img {
    width: 150px;
    height: 150px;
}

.flex-item {
    flex-basis: 100%;
}

.community-admin-image-wrap img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.community-user-image-wrap img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.explanation-area {
    height: 300px;
    width: 300px;
    overflow-x: scroll;
}

