// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

main {

}

.row {
    padding: 10px;
}

.flex-container {
    display: flex;
}

.image-wrap{
    margin: 10px 5px;
}

.homes-image-wrap-community img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.flex-item {
    flex-basis: 100%;
}

.home-main-content-col{
    padding:10px;
    margin:10px;
}

.home-main-content{
    height:400px;
}