// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

main {

}

.row {
    padding: 10px;
}

.flex-container {
    display: flex;
}

.image-wrap{
    margin: 10px 5px;
}

.image-wrap img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.mypage-image-wrap img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}


.search-image-wrap img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.image-wrap-homes img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.image-wrap-follow img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.flex-item {
    flex-basis: 100%;
}

.profile-area {
    height: 0px;
    overflow: auto;
}

.user_community_name_field {
    font-size: 12px;
}