<head>
</head>

<main>
  <div class="container">
    <div class="rowjustify-content-center text-center" style="padding: 10px">
       <h5><strong>レビュー編集</strong></h5>
    </div>

　　<div class="row justify-content-center">
      <div class="col-xl-7 justify-content-center text-left" style="padding: 10px" >
        <table>
          <tbody>
            <tr>
              <%= form_with model: @review, url: map_review_path do |f| %>
                <div class="form-group">
                  <label>レビュー</label><br>
                  <%= f.text_area :review, autofocus: true, id:"inputExplanation", placeholder:"レビュー",  class: 'form-control', size: "20x7" %><br>
                </div>
                
                <div class="form-group">
                  <%= f.file_field :review_image, accept: "image/*" %>
                </div>
                
                <div class="actions">
                  <%= f.submit '変更を保存' %>
                </div>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
 </div>
</main>