<main>
  <div class="container px-5 px-sm-0 text-center">
    <div class="row" style="margin: 200px;">
      <div class="col">
          <h5><strong>本当に退会しますか？</strong><h5>
          <%= link_to "退会しない", users_mypage_path %>
          <%= link_to "退会する", users_mypage_withdrawal_path, method: :patch, "data-confirm" => "本当に退会しますか？" %>
      </div>
    </div>
  </div>
</main>